fastapi
importlib-metadata
joblib
jsonschema
keras
Keras-Preprocessing
MarkupSafe
matplotlib-inline
nltk
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
requests
requests-oauthlib 
streamlit
streamlit-chat
tensorflow
transformers
typing_extensions
urllib3
uvicorn