fastapi
importlib-metadata
joblib
jsonschema
keras
Keras-Preprocessing
matplotlib-inline
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
requests
requests-oauthlib 
streamlit
streamlit-chat
tensorflow
torch
transformers
typing_extensions
urllib3
uvicorn